
html {
    background-color: burlywood;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

body {
    margin: 0;
    background-color: antiquewhite;
}

.list-page {
    background-color: aquamarine;
    padding: 24px;
}