<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book details</title>
</head>

<body>
  <header>
    <nav>
        <a href={% url 'delete_book' book.pk %}>Delete</a> | 
        <a href={% url 'update_view' book.pk %}>Edit</a> |
        <a href={% url 'show_books' %}>Go Back</a>
    </nav>
  </header>
  <main>
    <div class='book-card'>
        <h1>{{ book.title }}</h1>
        {% for review in book.reviews.all %}
          <p>Review: {{ review.text }}</p>
        {% endfor %}
        {% for a in book.author.all %}
          <p>Author: {{ a.name }}</p>
        {% endfor %}
        <p>{{ book.pages }}</p>
        <p>{{ book.isbn }}</p>
        <p>{{ book.description }}</p>
        <img src={{ book.cover }} width=300px>
    </div>
  </main>
  <div> 
    
  </div>
        
      
</div>
</body>

</html>