<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="bs.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book list</title>
</head>

<body class='list-page'>
  <header>
    <nav>
      <a href={% url 'login_page' %}>Login</a> |
      <a href={% url 'show_mags' %}>Go to Magazines</a> |
      <a href={% url 'create_book' %}>Create a Book</a> 
    </nav>
  </header>
  <main>
    {% for book in books %}
      <div class="book-card">
        <p>
          <a href={% url 'show_dabook' book.pk %}>
            {{ book.title }}
          </a>
        </p> 
        <p>{{ book.author.first }}</p>
        <p>{{ book.pages }}</p>
        <p>{{ book.isbn }}</p>
        <img src= {{ book.cover }} width=300px>
        <p>{{ book.description }}</p>
        <a href={% url 'update_view' book.pk %}>Edit</a>
      </div>
    {% endfor %}
  </main>
</body>

</html>





