<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>

<body>
  <dvi>
    <header>
      <nav>
        <a href={% url 'show_mags' %}>Go Back</a> |
        <a href={% url 'mag_update' mag.pk %}>Edit info</a> |
        <a href={% url 'delete_mag' mag.pk %}>Delete Magazine</a>
      </nav>
   </header> 
  </div>
  <div>
  <main>
    <h1>{{ mag.title }}</h1>
    <p>{{ mag.release_cycle }}</p>
    <p>{{ mag.publisher }}</p>
    <img src={{ mag.cover }} width=300px>
    <p>{{ mag.description }}</p>
    <h2>Issue</h2>
     {% for issue in mag.issues.all %}
      <p>Issue title: {{ issue.title }}</p>
      <p>Issue number: {{ issue.issue_number }}</p>
    {% endfor %}
    <h2>Genres</h2>
    {% for g in mag.genres.all %}
      <p>{{ g.name }}</p>
    {% endfor %}
  </main>
  </div>
</body>

</html>