<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Magazine</title>
</head>

<body>
  <header>
    <nav>
      <a href={% url 'show_mags' %}>Go Back</a>
    </nav>
  </header>
  <main>
    <form method="POST">
        {% csrf_token %}

        {{ form.as_p }}

        <input type="submit" value="Update">
    </form>
  </main>
</body>

</html>