<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Magazine Genre</title>
</head>

<body>
  <header>
    <h1>Magazine in {{ genre.name }}</h1>
    <nav>
    </nav>
  </header>
  <main>
    <div>
        {% for magazine in genre.magazines.all %}
            <p>{{ magazine.title }}</p>
            <img src={{ magazine.cover}} width=300px>
        {% endfor %}
    </div>    
  </main>
</body>

</html>