<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Magazine list</title>
</head>

<body>
  <header>
    <nav>
      <a href={% url 'show_books' %}>Go to Books</a> |
      <a href={% url 'create_mag' %}>Create a Magazine</a> 
    </nav>
  </header>
  <main>
    {% for mag in mags %}
    <div>
        <p>
          <a href={% url 'show_damag' mag.pk %}>{{ mag.title }}</a>
        </p>
        <p>{{ mag.release_cycle }}</p>
        <img src={{ mag.cover }} width=300px>
        <p>{{ mag.description }}</p>
        <p>{{ mag.publisher }}</p>
    </div>
    {% endfor %}
  </main>
</body>

</html>